a{
	font-family: tahoma;
	font-weight: bold;
	font-size: 25px;
	display:block;
	text-decoration: underline;
	color:deepskyblue;
}

.top{
	background-color: lightgrey;
}

.beta{
	background-color:black;
	color:white;
}

.more{
	background-color: lime;
}

.types{
	background-color: yellow;
}

h1{
	font-family: tahoma;
	font-size: 32px;
	text-decoration: none;
	color:green;
	margin-left: 30%;
}